<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566371582218-b2gqrmsr77sg55t16gkn22eq10knmkej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566371582218-b2gqrmsr77sg55t16gkn22eq10knmkej</string>
	<key>API_KEY</key>
	<string>AIzaSyAJXLb6SJPsQG59rnRzzdJTa93KQox0gKM</string>
	<key>GCM_SENDER_ID</key>
	<string>566371582218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondserving</string>
	<key>PROJECT_ID</key>
	<string>secondserving-ef1f1</string>
	<key>STORAGE_BUCKET</key>
	<string>secondserving-ef1f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566371582218:ios:a6017e20f2d4638e967af3</string>
	<key>DATABASE_URL</key>
	<string>https://secondserving-ef1f1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>